form(
  name="Learn To Skate", 
  method="POST", 
  data-netlify="true"
  action="/success"
  netlify-honeypot="bot-field"
  data-netlify-recaptcha="true"
)
  h3 
    span Hyde Park Learn to Skate
    span Mite and Squirt Programs

  p.hidden
    input(name="bot-field")
    label
      span Don't fill this out if you're human 
  p.form-group
    input(
      type="text", 
      id="name", 
      name="name",
      required
    )
    label(for="name")
      span Player's Name
  p.form-group
    input(
      type="text", 
      id="surname", 
      name="surname", 
      required
    )
    label(for="surname")
      span Parent's Name
  p.form-group.select-box
    select(name="age", id="age", required)
      option(value="")
      option(value="4") 4
      option(value="5") 5
      option(value="6") 6
      option(value="7") 7
      option(value="8") 8
      option(value="9") 9
      option(value="10") 10
    label(for="age")
      span Age
  p.form-group.select-box
    select(name="skating", id="skating", required)
      option(value="")
      option(value="none") None
      option(value="1") 1 Year
      option(value="2") 2 Years
      option(value="3 or greater") 3 Years or greater
    label(for="skating")
      span Years Experince
  p.form-group
    input(
      type="text"
      name="message", 
      id="message",
      required
    )
    label(for="message")
      span Describe your child's experience
  p.form-group
    input(
      type="text", 
      name="address",
      id="address",  
      required
    )
    label(for="address")
      span Address
  p.form-group
    input(
      type="text", 
      name="city",
      id="city",  
      required
    )
    label(for="city")
      span City
  p.form-group
    input(
      type="text", 
      name="state", 
      id="state",  
      required
    )
    label(for="state")
      span State
  p.form-group
    input(
      type="text", 
      name="zip", 
      id="zip",  
      required
    )
    label(for="zip")
      span Zip Code
  p.form-group
    input(
      type="text", 
      name="phone", 
      id="phone",  
      required
    )
    label(for="phone")
      span Phone Number
  p.checkbox
    | I am aware that participating in the ice skating class(es) involves inherent risks of physical injury, and I voluntarily assume all such risks. In consideration of Hyde Park Ice Pavilion allowing me to participate in the ice skating class(es) in connection with the institution. I agree to release and hold harmless Hyde Park Ice Pavilion and all of their duly authorized agents, servants, and employees, from any and all liability, claims or causes of action of whatever kind and nature, resulting from my participation in, or in any way connected with my participation in the ice skating class(es).
    .checkbox-container
      input.checkbox-input(
        type="checkbox"
        id="terms" 
        name="terms"
        required
      )
      label(for="terms")
        span Agree to Terms and Conditions

  div.captcha(data-netlify-recaptcha="true" required)

  p
    button.button(type="submit") Send