section#mens-league(
  data-app="mens-league"
)
  h2 Mens League
  section.banner.info
    h3 Checkout our league offerings
    img.lazy(
      src="/img/placeholder.jpg"
      data-src="/img/rink2.jpg" 
      data-srcset="/img/rink2.jpg" 
      alt="Hyde Park Ice Pavilion"
    )

    h3 Weekly Schedule
    p We have Mens leagues Tuesdays, Wednesday, Thursday, and Sundays. League range in age and skill. Call or email Mike Carella mikecarella@niagaratournaments.com, or Jason Hill, hillshockeydevelopment@gmail.com for more info

    h3 Rink Schedule
    p Coming soon
    p If you are looking to play give Mike a call or text 716-316-1526
  include footer.pug