section#programs(
  data-app="programs"
)
  h2 Youth Programs
  section.banner.info
    h3 Questions?
    h4 Click the program you're interested in for more details
    section.buttons
      a.button(
        href="/img/8u-travel.jpg"
        target="_blank"
        rel="noopener noreferrer"
        ) Learn more about the 8U Travel Mite Team
      a.button(
        href="/img/learnToSkate.jpg"
        target="_blank"
        rel="noopener noreferrer"
        ) Learn more about the learn to skate program
      a.button(
        href="/img/houseLeague.pdf"
        target="_blank"
        rel="noopener noreferrer"
        ) Learn more about Multi-Orginizational Leagues
  include form.pug
