section#programs.hidden(
  data-app="programs"
)
  h2 Youth Programs
  section.banner.info
    h3 Questions?
    h4 Click the program you're interested in for more details
    section.buttons
      a.button(
        href="/img/mite.jpg"
        target="_blank"
        rel="noopener noreferrer"
        ) Learn more about the Mite Select Program
      a.button(
        href="/img/learnToSkate.jpg"
        target="_blank"
        rel="noopener noreferrer"
        ) Learn to skate and House Program
      a.button(
        href="/img/squirt.jpg"
        target="_blank"
        rel="noopener noreferrer"
        ) Learn more about Squirt MOHL Program
  include form.pug
