section.team
  .member
    img.lazy.card(
      alt="Mike Carella - President" 
      src="/img/placeholder.jpg"
      data-src="img/mcarella.jpg"
      data-srcset="img/mcarella.jpg"            
    )
    .name Mike Carella
    .title President
    a.email(mailto="info@niagaratournaments.com") info@niagaratournaments.com
  .member
    img.lazy.card(
      alt="Rick Buckman - Manager" 
      src="/img/placeholder.jpg"
      data-src="img/buckman.jpg"
      data-srcset="img/buckman.jpg"
    )
    .name Rick Buckman
    .title Manager
  .member
    img.lazy.card(
      alt="Nick Wylucki - Assistant Manager" 
      src="/img/placeholder.jpg"
      data-src="img/wylucki.jpg"
      data-srcset="img/wylucki.jpg"
    )
    .name Nick Wylucki
    .title Assistant Manager
    a.email(mailto="nwylucki@yahoo.com") nwylucki@yahoo.com
  .member
    img.lazy.card(
      alt="Jason Hill - Marketing / Advertising NST. Owner of Hills Hockey Development" 
      src="/img/placeholder.jpg"
      data-src="img/hill.jpg"
      data-srcset="img/hill.jpg"
    )
    .name Jason Hill
    .title Marketing / Advertisment NST
    .title Owner - Hills Hockey Development
  .member
    img.lazy.card(
      alt="Gene Carella - Owner" 
      src="/img/placeholder.jpg"
      data-src="img/gcarella.jpg"
      data-srcset="img/gcarella.jpg"            
    )
    .name Gene Carella
    .title Owner


